@media screen and (min-width: 761px) and (max-width: 1024px) {

    html,
    body {
        height: 100% !important;
        width: 100% !important;
        overflow: hidden !important;
        position: fixed;
        touch-action: manipulation;
        -webkit-text-size-adjust: 100%;
    }

    #menu-btn {
        transform: scale(0.8);
    }

    .header-actions {
        gap: 2px !important;
        margin: 1px;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        z-index: 2000;
        box-shadow: none;
        transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        background-color: #fff;
        overflow: hidden;
    }

    .sidebar.open {
        width: 320px;
        box-shadow: 5px 0 25px rgba(0, 0, 0, 0.2);
    }

    .sidebar-content-wrapper {
        width: 320px;
        padding: 20px;
    }
}